@model IEnumerable<TrainingManagementSystem.Models.Trainee>
@{
    ViewBag.Title = "ShowTrainee";
}
<h2>Trainees List</h2>
<div class="form-group">
    @Html.ActionLink(
        "Create A Trainee",
        "CreateTrainee",
        "Account",
        null,
        new { @class = "btn btn-primary" })
</div>
@using (Html.BeginForm("ShowTrainee", "Admin", FormMethod.Get))
{
    <div class="form-group">
        @Html.TextBox("searchString", null, new { placeholder = "Search by ..." })
        <button type="submit"><i class="fa fa-search"></i>Search</button>
    </div>
}


<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">All Trainees</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td class="list-group-item">@user.Email</td>
                <td>
                    @Html.ActionLink(
                            "Details",
                            "TraineeDetails",
                            "Admin",
                            new { id = user.UserId },
                            new { @class = "btn btn-primary" }
                            )
                    @Html.ActionLink(
                            "Edit",
                            "TraineeEdit",
                            "Admin",
                            new { id = user.UserId },
                            new { @class = "btn btn-default" }
                            )
                    @Html.ActionLink(
                            "Change Password",
                            "ChangePassword",
                            "Admin",
                            new { id = user.UserId },
                            new { @class = "btn btn-warning" }
                            )
                    @Html.ActionLink(
                            "Delete",
                            "TraineeDelete",
                            "Admin",
                            new { id = user.UserId },
                            new { @class = "btn btn-danger" }
                            )


                </td>
            </tr>
        }
    </tbody>
</table>
