@model IEnumerable<TrainingManagementSystem.Models.ApplicationUser>
@{
    ViewBag.Title = "ShowStaff";
}
<h2>Staffs List</h2>
<div class="form-group">
    @Html.ActionLink(
        "Create A Staff",
        "CreateStaff",
        "Account",
        null,
        new { @class = "btn btn-primary" })
</div>


<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">All Staffs</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td class="list-group-item">@user.UserName</td>
                <td>
                    @Html.ActionLink(
                            "Details",
                            "StaffDetails",
                            "Admin",
                            new { id = user.Id },
                            new { @class = "btn btn-primary" }
                            )
                    @Html.ActionLink(
                            "Edit",
                            "StaffEdit",
                            "Admin",
                            new { id = user.Id },
                            new { @class = "btn btn-default" }
                            )
                    @Html.ActionLink(
                                    "Delete",
                                    "StaffDelete",
                                    "Admin",
                                    new { id = user.Id },
                                    new { @class = "btn btn-danger" }
                                    )
                </td>
            </tr>
        }
    </tbody>
</table>

