
@{
    ViewBag.Title = "TrainerDetails";
}

<h2>Trainer Details</h2>

<div class="form-group">
    @Html.ActionLink(
        "Back to Index page",
        "ShowTrainer",
        "Admin",
        null,
        new { @class = "btn btn-primary" })
</div>

<div class="panel panel-info">
    <div class="panel-heading">UserId: @Model.UserId </div>
    <div class="panel-body">
        <p>Name: @Model.Name</p>
        <p>External Or Internal: @Model.Type</p>
        <p>Education: @Model.Education</p>
        <p>Work Place: @Model.WorkPlace</p>
        <p>Tel: @Model.Phone</p>
        <p>Email: @Model.Email</p>
    </div>
</div>