
@{
    ViewBag.Title = "TraineeDetails";
}

<h2>Trainee Details</h2>

<div class="form-group">
    @Html.ActionLink(
        "Back to Index page",
        "ShowTrainee",
        "Admin",
        null,
        new { @class = "btn btn-primary" })
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        UserId: @Model.UserId
    </div>
    <div class="panel-body">
        <p>Name: @Model.Name</p>
        <p>Email: @Model.Email</p>
        <p>Address: @Model.Address</p>
        <p>Age: @Model.Age</p>
        <p>Date of Birth: @Model.DoB</p>
        <p>Education: @Model.Education</p>
        <p>Experience: @Model.ExperienceDetail</p>
        <p>Department: @Model.Department</p>
        <p>Programming Language: @Model.ProgrammingLanguage</p>
        <p>TOEIC Score: @Model.TOEICScore</p>

    </div>
</div>